################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Atividademodulo1/.vs/Atividademodulo1/FileContentIndex/aada3a99-0316-4756-a081-89d30b273197.vsidx
/Atividademodulo1/.vs/Atividademodulo1/v17
/Atividademodulo1/obj/Debug/net8.0
